<header th:fragment="menu">
    <nav id="navbar-main"
         class="navbar navbar-expand-md navbar-main navbar-default w-100">
        <div
                style="display: flex; align-items: center; justify-content: center; font-size: 16px; width: 100%;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed m-auto"
                        data-toggle="collapse" data-target="#navbar-main-body"
                        aria-expanded="false" aria-controls="navbar-main">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>


            </div>
            <div id="navbar-main-body" class="navbar-collapse collapse w-100"
                 style="width: 100%;text-align: center;justify-content: center;">
                <div id="loggedInOptions" class="dropdown nav-link">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">Options
                        <span aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a th:href="@{/findFriend}">Find friends</a></li>
                        <li><a th:href="@{/users/friends}">My friends</a></li>
                        <li id="myPhotos"><a>My photos</a></li>
                        <li><a th:href="@{/addImage}">Add new Image</a></li>
                        <li id="logOut"><a th:href="@{/login}">LogOut</a></li>

                    </ul>
                </div>
                <form id=" loginForm" class="nav-link">
                    <button id="loginButton" th:formaction="@{/login}"
                            class="btn btn-primary" style="margin: 12px; appearance: button;">Login
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div th:include="fragments/scripts :: user"></div>
    <script>
		
		window.addEventListener("load", () => {
			user.updateLoggedIn("loginButton","[[@{'/users/profile'}]]");
			if (!user.checkLoggedIn()){
				
				document.getElementById("loggedInOptions").classList.add("hidden");
			}
			else {
				
			    document.getElementById("logOut").onclick = user.logOut
			    
			    document.getElementById("myPhotos").onclick = () => {
			    	window.location.href = "[[@{'/carrusel'}]]";
				}
			}
		});
		






    </script>
</header>