 <!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />
	<div class = "card container bg-dark">
		<h1 class = "card-title" style="text-align:center;color:azure">User Data</h1>
		<div class = "row">
			<p class = "card-text">Age : </p>
			<p id = "ageField" class = "card-text">Age : </p>
		</div>
		<div class = "row">
			<p class = "card-text">Sex : </p>
			<p id = "sexField" class = "card-text">Sex : </p>
		</div>
		<div class = "row">
			<p class = "card-text">City : </p>
			<p id = "cityField" class = "card-text">City : </p>
		</div>
	</div>
	<footer>
		<div th:include="fragments/scripts :: general" />
		<div th:include="fragments/scripts :: profile" />
	</footer>
	<script>
	window.addEventListener("load", () => {
		initProfile("[[@{'/'}]]");
	});
   	 </script>
</body>

</html>