<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>


<link
	th:href="@{/resources/vendor/mdi-font/css/material-design-iconic-font.min.css}"
	rel="stylesheet" media="all">
<link
	th:href="@{/resources/vendor/font-awesome-4.7/css/font-awesome.min.css}"
	rel="stylesheet" media="all">
<!-- Font special for pages-->
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Vendor CSS-->
<link th:href="@{/resources/vendor/select2/select2.min.css}"
	rel="stylesheet" media="all">
<link th:href="@{/resources/vendor/datepicker/daterangepicker.css}"
	rel="stylesheet" media="all">

<!-- Main CSS-->
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/signup.css}" media="all" />
<link rel="stylesheet" type="text/css"
	th:href="@{/resources/css/utils.css}" media="all" />


</head>
<body>




	<div class="page-wrapper bg-gra-01 p-t-10 p-b-10 font-poppins">

		<div class="wrapper wrapper--w780">
			<div th:include="fragments/errorAlert"></div>
			<div class="card card-3">
				<div class="card-heading"></div>
				<div class="card-body">
					<h2 class="title">Registration Info</h2>
					<form id="signUpForm" th:action="@{/signUp}" method="POST">
						<div class="input-group">
							<input class="input--style-3" type="text" id="username"
								placeholder="Username" name="username" maxlength="30" required>
						</div>
						<div class="input-group">
							<input class="input--style-3" type="password"
								placeholder="Password" name="password" id="password"
								maxlength="20" required>
						</div>
						<div class="input-group">
							<input class="input--style-3 js-datepicker" type="text"
								placeholder="Birthdate" name="birthday" id="birthday" required>
							<em class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></em>
						</div>
						<div class="input-group">
							<div class="rs-select2 js-select-simple select--no-search">
								<select name="gender" id="genre" required>
									<option value="" disabled="disabled" selected="selected">Gender</option>
									<option>Male</option>
									<option>Female</option>
									<option>Non Binary</option>
								</select>
								<div class="select-dropdown"></div>
							</div>
						</div>

						<div class="input-group">
							<input class="input--style-3" type="text" id="city"
								placeholder="City" name="city" maxlength="30" required>
						</div>
						<div class="input-group">
							<input class="input--style-3" type="text" id="description"
								placeholder="Description" name="description" maxlength="60"
								required>
						</div>
						<div class="form-login">
							<button class="signup" type="submit">Sign up</button>
							<p>
								Already have an account? <a th:href="@{/login}">Login</a>
							</p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Jquery JS-->
	<script th:src="@{/resources/vendor/jquery/jquery.min.js}"></script>
	<!-- Vendor JS-->
	<script th:src="@{/resources/vendor/select2/select2.min.js}"></script>
	<script th:src="@{/resources/vendor/datepicker/moment.min.js}"></script>
	<script th:src="@{/resources/vendor/datepicker/daterangepicker.js}"></script>

	<!-- Main JS-->
	<script th:src="@{resources/js/signupBeauty.js}"></script>

	<footer>

		<div th:include="fragments/scripts :: register"></div>


	</footer>
	<script type="text/javascript">
   	window.addEventListener('load', () => {
   		
   		const params = () => { return {
   			username: document.getElementById("username").value,
   			password: document.getElementById("password").value,
   			date: document.getElementById("birthday").value,
   			genre: document.getElementById("genre").value,
   			city: document.getElementById("city").value,
   			description: document.getElementById("description").value
   		}};
   		document.getElementById("signUpForm").addEventListener('submit', (e) => handleRegister(e, params(), "[[@{'/'}]]"));
   	});
   </script>
</body>

</html>