<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Form</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/registration.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<head th:include="fragments/header :: header" />
<body>
	<header class="header" th:include="fragments/menu :: menu" />
	<form th:action="@{/login}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go
			To Login Page</button>
	</form>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="signUpForm" th:action="@{/signUp}" method="POST"
					class="form-signin">
					<h2>Registration Form</h2>


					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" id="username" placeholder="Username"
								class="form-control" required />
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-9">
							<input type="password" id="password" placeholder="Password"
								class="form-control" required/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input type="date" id="birthday" name="birthday" min="1900-01-01"
								class="form-control" required/>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<select name="Genre" id="genre" size="3" class="form-control" required>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="non_binary">Non Binary</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<input name="city" id="city" type="text" class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								User</button>
						</div>
					</div>

					<span th:utext="${successMessage}"></span>


				</form>
			</div>
		</div>
	</div>
	<footer>
		<div th:include="fragments/scripts :: general" />
		<div th:include="fragments/scripts :: register" />


	</footer>
	<script type="text/javascript">
   	window.addEventListener('load', () => {
   		const dateInput = document.getElementById("birthday");
   		dateInput.max = new Date().toISOString().split("T")[0];
   		const params = () => { return {
   			username: document.getElementById("username").value,
   			password: document.getElementById("password").value,
   			date: dateInput.value,
   			genre: document.getElementById("genre").value,
   			city: document.getElementById("city").value
   		}};
   		document.getElementById("signUpForm").addEventListener('submit', (e) => handleRegister(e, params(), "[[@{'/'}]]"));
   	});
   </script>
</body>

</html>