<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" >
<title> Welcome Page</title>
</head>
<body>
	<header class="header" th:include="fragments/menu :: menu"></header>

	<section id="main-section" class="container-fluid">
		<img th:src="@{/static/images/loading.gif}" alt="spinner" />
	</section>

	<footer>
		<div th:include="fragments/scripts :: general"></div>
		<div th:include="fragments/scripts :: welcome"></div>
	</footer>
	<script>
		window.addEventListener("load", () => {
			init("[[@{'/'}]]");
		});
	</script>
</body>

</html>
