<div th:fragment="general">
	<!-- Global scripts -->
	<script th:src="@{/static/jquery/jquery.min.js}"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/static/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/static/datatables/js/dataTables.bootstrap.min.js}"></script>
	<script th:src="@{/static/js/initialize.js}"></script>
</div>
<div th:fragment="login">
	<script th:src="@{/static/js/login.js}"></script>
</div>
<div th:fragment="register">
	<script th:src="@{/static/js/register.js}"></script>
</div>
<div th:fragment="user">
	<script th:src="@{/static/js/user.js}"></script>
</div>
<div th:fragment="carrusel">
	<script th:src="@{/static/js/carrusel.js}"></script>
</div>
<div th:fragment="addImage">
	<script th:src="@{/static/js/addImage.js}"></script>
</div>
<div th:fragment="errorAlert">
	<script th:src="@{/static/js/errorAlert.js}"></script>
</div>
<div th:fragment="welcome">
	<script th:src="@{/static/js/welcome.js}"></script>
</div>
<div th:fragment="profile">
	<script th:src="@{/static/js/profile.js}"></script>
</div>
<div th:fragment="friendList">
	<script th:src="@{/static/js/friendList.js}"></script>
</div>